/* PARTIE NAV */

body {
    background-color: black;
}

.hidden {
    display: none !important;
}

.nav__listItem {
    display: flex;
    align-items: center;
    margin: 1rem 3rem;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    list-style-type: none;

}

.nav__listItem:hover {
    font-size: 2.2rem;
    border-bottom: 0.2rem solid green;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 80vw;
    margin: auto;
    list-style-type: none;

}

.nav {
    height: 7rem;
    position: sticky;
    z-index: 10;
    background: white;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 0.3rem solid black;
}

/* CHARTS */
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.flexCenterMobile {
    display: none;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    margin-top: 1rem;
}

/* PARTIE UPLOAD */

.uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadForm__label {
    color: green;
    font-weight: bolder;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.uploadForm__input {
    color: white;
    /* font-weight: bolder; */
    font-size: 2rem;
}

.uploadFormContainer {
    margin: 2rem auto;
    width: 50vw;
}

#upLoadBtn {
    border-radius: 1rem;
    margin: 2rem auto 0 auto;
    background-color: green;
    color: white;
    height: 4rem;
    padding: 1rem 4rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#upLoadBtn:hover {
    background-color: white;
    color: green;
    cursor: pointer;
}

#messageContainer {
    color: red;
    font-size: 2rem;
}

.checkboxLabel {
    color: white;
}

.leftAlign {
    margin-top: 2rem;
    padding-left: 10rem;
    text-align: left;
    width: 50%
}

.inputCheckBox {
    font-size: 10rem;
    cursor: pointer;
    zoom: 1.5;
}

/* TAG PAGE */

.project_info {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    position: relative;
}

.project_h2Title {
    font-size: 2rem;
    font-weight: bold;
    color: green;
    margin: 0 0 1rem 0;
}

.project_admin_table {
    display: flex;
    flex-direction: row;
}

.project_labels_admin {
    background-color: rgb(189, 185, 185);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem;
}

.project_info_couple {
    margin: 0.5rem 0.5rem;
    display: flex;
}


.project_label_creation {
    font-size: 1.5rem;
    font-weight: normal;
    width: 10rem;
    display: inline-block;
}

.project_label_select {
    font-size: 1rem;
    font-weight: normal;
    width: 10rem;
    height: 1.7rem;
    display: inline-block;
}

.multipleSelect {
    height: 20rem;
}

.project_label_input {
    font-size: 1rem;
    font-weight: normal;
    height: 1.5rem;
    width: 9.5rem;
    display: inline-block;
}

.project_input_200 {
    width: 12rem;
    height: 1.5rem
}

.button_admin--creer:hover {
    background: white;
    color: green;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button_admin--creer {
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.5em;
    margin: 0 0.1em;
    width: 7rem;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    background: green;
    color: white;
    border: 0.1rem solid green;
}

.button_admin--modify:hover {
    background: white;
    color: orange;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button_admin--modify {
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.5em;
    margin: 0 0.1em;
    width: 7rem;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    background: orange;
    color: white;
    border: 0.1rem solid orange;
}

.button_admin--delete:hover {
    background: white;
    color: red;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button_admin--delete {
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.5em;
    margin: 0 0.1em;
    width: 7rem;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    background: red;
    color: white;
    border: 0.1rem solid red;
}

.tagContainer {
    margin: 2rem;
}

.imageLeftAndRightAndTag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageSmallForTag {
    max-height: 70vh;
    margin: 0 1rem;
}

.imageTagZone {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 185, 185);
    border-radius: 1rem;
    padding: 1rem;
    background-color: unset;
    border: 1px solid white;
    color: white;
}

.iconFilterPlus {
    color: green;
    font-size: 1.5rem;
    margin-left: 1rem;

}

.iconFilterPlus:hover {
    zoom: 1.1;
    cursor: pointer;
}

.iconArrow {
    color: green;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    z-index: 1;
}

.imageAndBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconArrow:hover {
    zoom: 1.1;
    cursor: pointer;
}

.personContainer {
    border: 2px solid black;
    border-radius: 1rem;
    min-height: 2rem;
    background-color: white;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 28rem;
}

.line {
    border: 1px solid black;
    margin: 1rem 0;
}

.button_taguer {
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.5em;
    margin: 0 0.1em;
    height: 2rem;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    background: green;
    color: white;
    border: 0.1rem solid green;
}

.button_taguer:hover {
    background: white;
    color: green;
    cursor: pointer;
}

.button_download {
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.5em;
    margin: 0 0.1em;
    height: 2rem;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    background: orange;
    color: black;
    border: 0.1rem solid orange;
}

.button_download:hover {
    background: black;
    color: orange;
    cursor: pointer;
}

.button_supprimer {
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.5em;
    margin: 0 0.1em;
    height: 2rem;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    background: red;
    color: white;
    border: 0.1rem solid red;
}

.button_supprimer:hover {
    background: white;
    color: red;
    cursor: pointer;
}

.button_taguer,
.button_supprimer,
.button_download {
    width: 9rem;
}

.imageLeftAndRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagguedPerson {
    padding: 0.5rem;
    background-color: blue;
    margin: 0.5rem;
    font-weight: bold;
    border-radius: 1rem;
}

.crossIcon {
    margin-left: 0.5rem;
}

.crossIcon:hover {
    cursor: pointer;
}

.readOnly {
    background-color: lightgrey;
}

.imageNotTaggued {
    font-weight: bold;
    color: red;
}

.imageTaggued {
    font-weight: bold;
    color: green;
}

/* SEARCH PAGE */

.SearchBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    margin: 1rem;
    border: 4px solid green;
    border-radius: 1rem;
    color: white;
}

.DownloadBar {
    display: flex;
    justify-content: center;
    height: 2rem;
    margin: 1rem;
}

.downloadBtn {
    background-color: black;
    padding: 0 1rem;
    vertical-align: middle;
    color: white;
    border: 1px solid green;
    border-radius: 0.5rem;
    margin: 0 1rem;
}

.downloadBtn:hover {
    background-color: white;
    color: green;
    cursor: pointer;
}

.labelNoWidth {
    width: unset;
    margin-right: 1rem;
}

.imagesContainer {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    /* border: 1px solid white; */
    /* overflow-y: scroll; */
}

.thumbnail {
    margin: 1rem 0;
    min-height: 13rem;
    width: 10rem;
    display: flex;
    border: 1px solid white;
    border-radius: 1rem;

}

.resize {
    width: 7rem;
    height: auto;
    margin: 1rem
}

.resize:hover {
    cursor: pointer;
}

.infoDiv {
    background-color: white;
    height: '20px';
    position: absolute;
    padding: 1rem;
    font-style: italic;
    text-align: center;
}


/*----------------------------------------------------------------------------------------------------------*/


@media screen and (max-width:1280px) {

    .nav__list {
        justify-content: space-between;
        width: 90vw;
    }

    .nav__listItem {
        margin: 0.5rem 1rem;
        font-size: 1rem;
    }

    .nav {
        height: 5rem;
    }

    .uploadForm__label {
        font-size: 2rem;
        text-align: center;

    }

    .uploadForm__input {
        font-size: 1rem;
    }

    #upLoadBtn {
        border-radius: 1rem;
        margin: 2rem auto 0 auto;
        background-color: green;
        color: white;
        height: 2rem;
        padding: 0.5rem 2rem;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }

    .leftAlign {
        margin-top: 2rem;
        text-align: left;
        width: 100vw
    }

    /* PAGE TAGS */

    .project_admin_table {
        flex-direction: column;
    }

    .imageLeftAndRightAndTag {
        flex-direction: column;
    }

    .imageSmallForTag {
        max-width: 70vw;
    }

    .imageTagZone {
        margin-top: 1rem;
        width: 80vw;
        margin-left: unset;
        background-color: unset;
        border: 1px solid white;
    }

    .project_label_creation {
        width: 6rem;
        font-size: 1rem;
    }

    .project_label_input {
        width: 8rem;
        font-size: 1rem;
    }

    .button_taguer,
    .button_supprimer,
    .button_download {
        width: 6rem;
    }

    .project_info_couple {
        margin: 0.1rem 0;

    }

    .line {
        margin: 0.5rem 0
    }

    .personContainer {
        margin: 0.3rem 0;
        width: unset;
    }

    .button_admin--creer,
    .button_admin--modify,
    .button_admin--delete {
        margin-top: 0.3rem;
        width: 5rem
    }

    .project_labels_admin {
        width: 80vw;
        margin: 0.3rem 0;
    }

    .tagguedPerson {
        padding: 0.3rem;
        background-color: blue;
        margin: 0.3rem 0.1rem;
        font-weight: normal;
        border-radius: 1rem;
        font-size: 0.8rem;
    }

    .multipleSelect {
        height: 15rem;
    }

    /* CHARTS */
    .flexCenter {
        display: none;
    }

    .flexCenterMobile {
        display: flex;
    }

}