<nav class="nav">
        <ul class="nav__list">
                <li><a class="nav__listItem" href="/imagesApp"><i class="fa-solid fa-chart-simple"></i></a></li>
                <li><a id="index" href="/imagesApp/tags" class="nav__listItem">Tag
                                Images</a>
                </li>
                <li><a id="portfolio" href="/imagesApp/upload" class="nav__listItem">Upload
                </li></a>
                <li><a id="apropos" href="/imagesApp/search" class="nav__listItem">Search
                </li></a>
        </ul>
</nav>