<nav class="nav">
    <ul class="nav__list">
        <li><a id="index" href="/tags" class="nav__listItem">Tag Images</a>
        </li>
        <li><a id="portfolio" href="/upload" class="nav__listItem">Upload</li></a>
        <li><a id="tarifs" href="/download" class="nav__listItem">Download</li></a>
        <li><a id="apropos" href="/requests" class="nav__listItem">Requests</li></a>
    </ul>
</nav>