<%- include('./partials/header') %>
    <%- include('./partials/nav') %>

        <body>
            <main class="main">
                <div class="consoleContainer">
                    <p>coucou</p>
                </div>
            </main>

            <script type="text/javascript" src="/../imagesApp/public/js/app.js" defer></script>
        </body>