<!DOCTYPE html>
<html lang="fr">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/css/style.css" as="style">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main class="main">
        <div class="consoleContainer">
            <a href="http://localhost:4000/">
                <div class="consoleApp">Images</div>
            </a>
            <a href="http://localhost:4000/">
                <div class="consoleApp">Domotique</div>
            </a>
        </div>
    </main>

    <script type="text/javascript" src="/js/console.js" defer></script>

</body>