<%- include('./partials/header') %>
    <%- include('./partials/nav') %>

        <body>
            <main class="main">
                <div class="consoleContainer">
                </div>
                <div class="flexCenter" id="chart_div"></div>
            </main>

            <%- include('./partials/script') %>

                <script type="text/javascript" src="imagesApp/js/app.js"></script>


        </body>