<%- include('./partials/header') %>
    <%- include('./partials/nav') %>

        <body>
            <main class="main">
                <div class="consoleContainer">
                    <p>coucou</p>
                </div>
            </main>

            <%- include('./partials/script') %>

                <script type="text/javascript" src="imagesApp/js/app.js"></script>






        </body>