<%- include('./partials/header') %>
    <%- include('./partials/nav') %>

        <body>

            <div class="tagContainer">
                <h2 class="project_h2Title">Taguer les photos</h2>
                <div class="imageLeftAndRightAndTag">
                    <div class="imageLeftAndRight">
                        <i id="imgLeft" class="fa-solid fa-square-caret-left iconArrow"></i>
                        <img id="imageContainer" data-img-id="" class="imageSmallForTag" src="">
                        <i id="imgRight" class="fa-solid fa-square-caret-right iconArrow"></i>
                    </div>

                    <div class="imageTagZone">
                        <div class="project_info_couple">
                            <label class="project_label_creation">Fichier</label>
                            <input class="project_label_input readOnly" value="" id="fileNameInput" type="text"
                                readonly />
                        </div>
                        <div class="project_info_couple">
                            <label class="project_label_creation">Statut</label>
                            <input class="project_label_input readOnly" value="" id="imageStatus" type="text"
                                readonly />
                        </div>
                        <div class="project_info_couple">
                            <label class="project_label_creation">Année</label>
                            <input class="project_label_input" value="" id="imageYearInput" />
                        </div>
                        <div class="project_info_couple">
                            <label class="project_label_creation">Lieu</label>
                            <select id="localityTag" class="project_label_select">
                                <option value="0">----</option>
                            </select>
                        </div>
                        <div class="project_info_couple">
                            <label class="project_label_creation">Evenement</label>
                            <select id="eventTag" class="project_label_select">
                                <option value="0">----</option>
                            </select>
                        </div>
                        <div class="line"></div>
                        <div class="project_info_couple">
                            <label class="project_label_creation">Personnes</label>
                            <select id="personTag" class="project_label_select">
                                <option value="0">----</option>
                            </select>
                            <i id="" class="fa-solid fa-circle-plus iconFilterPlus"></i>
                        </div>

                        <div id="personContainer" class="personContainer"></div>
                        <div class="project_info_couple">
                            <button id="tagBtn" class="button_taguer">TAGUER</button>
                            <button id="deleteImageBtn" class="button_supprimer">SUPPRIMER</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project_info">
                <h2 class="project_h2Title">Création de nouveaux Tags</h2>
                <div class="project_admin_table">
                    <div class="project_labels_admin">
                        <div class="project_info_couple">
                            <label class="project_label_creation" for="newLabel">Personnes : </label>
                            <input id="personCreationInput" class="project_label_input" type="text" name="newLabel">
                            <button id="personCreationBtn" class="button_admin--creer">Créer</button>
                        </div>

                        <div class="project_info_couple">
                            <select id="personSelectModification" class="project_label_creation" id="labelsList"
                                name="labelsList">
                                <option value="0">----</option>
                            </select>

                            <input id="personModificationInput" class="project_label_input" type="text">
                            <button id="personModificationBtn" class="button_admin--modify">Modifier</button>
                            <button id="personDeleteBtn" class="button_admin--delete">Supprimer</button>
                        </div>
                    </div>
                    <div class="project_labels_admin">
                        <div class="project_info_couple">
                            <label class="project_label_creation" for="newSoftware">Lieux : </label>
                            <input id="localityCreationInput" class="project_label_input" type="text"
                                name="newSoftware">
                            <button id="localityCreationBtn" class="button_admin--creer">Créer</button>
                        </div>

                        <div class="project_info_couple">
                            <select id="localitySelectModification" class="project_label_creation" name="softwareList">
                                <option value="0">----</option>
                            </select>
                            <input id="localityModificationInput" class="project_label_input" type="text">
                            <button id="localityModificationBtn" class="button_admin--modify">Modifier</button>
                            <button id="localityDeleteBtn" class="button_admin--delete">Supprimer</button>
                        </div>
                    </div>
                    <div class="project_labels_admin">
                        <div class="project_info_couple">
                            <label class="project_label_creation" for="newSubject">Evènements : </label>
                            <input id="eventCreationInput" class="project_label_input" type="text" name="newSubject">
                            <button id="eventCreationBtn" class="button_admin--creer">Créer</button>
                        </div>
                        <div class="project_info_couple">
                            <select id="eventSelectModification" class="project_label_creation" name="subjectsList">
                                <option value="0">----</option>
                            </select>
                            <input id="eventModificationInput" class="project_label_input" type="text">
                            <button id="eventModificationBtn" class="button_admin--modify">Modifier</button>
                            <button id="eventDeleteBtn" class="button_admin--delete">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- </div> -->

            <script type="text/javascript" src="/js/tag.js" defer></script>

        </body>